﻿@using CustomToDo.DAL
@model IEnumerable<TaskAttachment>

@if (Model.Count() > 0)
{
    foreach (var result in Model)
    {
        <div class="divAttachment" style="width: 100%;" data-id="@result.Id">
            <div style="width: 90%; float: left;">
                <a class="link section-item file-item" rel="noreferrer" href="@result.FilePath" target="_blank">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail">@result.FileExtension.ToUpper()</div>
                    </div>
                    <div class="file-content">

                        <div class="file-title">@result.FileName</div>
                        @{
                            var fileSize = string.Empty;

                            if (result.FileSize != null)
                            {
                                if (result.FileSize > 1048576)
                                {
                                    decimal size = result.FileSize.Value * 100 / 1048576;
                                    var calculatedSize = Math.Round(size) / 100;
                                    fileSize = calculatedSize.ToString() + " MB";
                                }
                                else if (result.FileSize > 1024)
                                {
                                    decimal size = result.FileSize.Value * 100 / 1024;
                                    var calculatedSize = Math.Round(size) / 100;
                                    fileSize = calculatedSize.ToString() + " KB";
                                }
                                else
                                {
                                    fileSize = result.FileSize.Value.ToString() + " Bytes";
                                }
                            }
                        }

                        <div class="file-metadata"><span>@fileSize</span></div>
                    </div>
                </a>
            </div>
            <div style="width: 10%; float: left; padding-top: 30px;">
                <i class="removeAttachment"><span class="glyphicon glyphicon-remove"></span></i>
            </div>
            <div class="clearfix"></div>
        </div>
    }
}

<script>

</script>
