﻿@model CustomToDo.Web.Models.TaskPageModel
@using CustomToDo.Web.HelperClass



@foreach (var item in Model.PageTasks)
{
    <span id="centerColumn">
        <div id="main" role="main">
            <div class="flex-container">
                <div class="flexBoxFix">
                    <div class="main-background">
                        <span class="">
                            <div class="taskItem">
                                <div class="baseAdd addTask">
                                    <div class="taskItem-body">
                                        @if (item.Status == (int)CustomToDoUtility.Statuses.close)
                                        {
                                            <div class="pretty p-icon p-fill p-round">
                                                <input type="checkbox" id="complete" onclick="checkForComplete(this);" class="complete" data-taskid="@item.Id" checked="checked" />
                                                <div class="state p-info">
                                                    <i class="icon mdi mdi-check"></i>
                                                    <label></label>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="pretty p-icon p-fill p-round">
                                                <input type="checkbox" id="complete" class="complete" onclick="checkForComplete(this);" data-taskid="@item.Id" />
                                                <div class="state p-info">
                                                    <i class="icon mdi mdi-check"></i>
                                                    <label></label>
                                                </div>
                                            </div>
                                        }
                                        <a class="openbtn openSidePanel" onclick="openNav('@item.Id','@item.ParentId')">
                                            <span class="taskItem-title">
                                                @Html.TextBoxFor(m => item.Title, new { @class = "baseAdd-input chromeless", @disabled = "disabled" })
                                            </span>
                                            @if (item.SubTaskCount > 0)
                                            {
                                        <div class="metaDataInfo">
                                            <span class="metaDataInfo-group">
                                                <div class="taskItemInfo-steps">
                                                    <span class="taskItemInfo-label">
                                                        <span>@item.taskCount of @item.SubTaskCount</span>
                                                    </span>
                                                </div>
                                            </span>
                                            <span class="metaDataInfo-group">
                                                @if (item.Comments.Length > 0)
                                                {
                                                    <span class="taskItemInfo-note">
                                                        <i class="glyphicon glyphicon-file">
                                                        </i>
                                                        <span class="taskItemInfo-label">Note</span>
                                                    </span>
                                                }
                                            </span>
                                            
                                            <span class="metaDataInfo-group">
                                                @if (item.DueDate.HasValue && item.DueDate.Value > DateTime.Today)
                                                {
                                                    <div class="metaDataInfo">
                                                        <span class="metaDataInfo-group">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                            <span>
                                                                <span>
                                                                    @Html.DisplayTextFor(m => item.DueDate)
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                }
                                            </span>
                                        </div>
                                            }

                                        </a>
                                        @if (item.Priority == (int)CustomToDoUtility.Priorities.Important)
                                        {
                                            <span class="glyphicon glyphicon-star" data-taskid="@item.Id" onclick="MarkImportant(@item.Id);"></span>
                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-star-empty" data-taskid="@item.Id" onclick="MarkImportant(@item.Id);"></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </span>

    @*@Html.Partial("SidePanel", item)*@
}
<div class="sidePanelBar">
    @Html.Partial("SidePanel", new CustomToDo.Web.Models.TaskModel())
</div>
<script type="text/javascript">

     function openNav(id,pId) {
           $("#ajax-loader").show();
        //document.getElementById(id).style.width = "360px";
         // document.getElementById("centerBackground").style.marginRight = "360px";
         var data = id;
         if (pId != 0) {
             data = pId;
         }
         $.ajax({
             url: '@Url.Action("GetSidePanelData", "Contributor",new { area = "Contributor" })',
             type: "POST",
             data: { Id: data },
             datatype: "json",
             success: function (result) {
                 //location.reload();
                 if (pId == 0) {
                     flag = id;
                 }

                 $(".sidePanelBar").html(result);
             },
             error: function (errormessage) {
                 alert(errormessage.responseText);
             },
             complete: function myfunction() {
                 $("#ajax-loader").hide();
             }
         });
    }
</script>