﻿@model CustomToDo.Web.Models.TaskPageModel
@using CustomToDo.Web.HelperClass


@{
    ViewBag.Title = "Assigned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="centerBackground">
    <div class="tasksToolbar with-subline">
        <div class="tasksToolbar-top">
            <div class="tasksToolbar-headline">
                <div class="tasksToolbar-titleContainer">
                    <div class="tasksToolbar-titleItem">
                        <h2 class="listTitle" tabindex="-1">
                            <span>Assigned to you</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="taskToolbar-right">
                <div class="section">
                    <div class="section-item">
                        <div class="dropdown">
                            <button class="btn loadingButton btn section-innerClick toolbarButton dropdown-toggle" id="remind" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-sort" aria-hidden="true"></i>
                                <span>Sort</span>
                            </button>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Sort by</h6>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Important", "Assigned", new { sortOrder = ViewBag.sortImportant })

                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-calendar " aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Due date", "Assigned", new { sortOrder = ViewBag.sortDue })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Added to my day", "Assigned", new { sortOrder = ViewBag.sortMyday })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Completed", "Assigned", new { sortOrder = ViewBag.sortComplete })

                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Alphabetically", "Assigned", new { sortOrder = ViewBag.sortAlpha })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Created on", "Assigned", new { sortOrder = ViewBag.sortCreate })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center-content">
        @Html.Partial("_CenterPageContent", Model)
    </div>

</div>

<script>
       
    var flag = 0;
   
    function checkForComplete(e) {

         var ischeck = $(e).is(":checked");
        var taskid = $(e).data('taskid');
        var ischecked = ischeck;
            $.ajax({
                url: '@Url.Action("Ischeck", "Contributor",new { area = "Contributor" })',
                type: "POST",
                data: { Id: taskid, ischecked: ischecked },
                datatype: "json",
                success: function (result) {
                    //location.reload();
                    $(".center-content").html(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
    }

    $('.dropdown-toggle').dropdown()

    function MarkImportant(taskid) {
        
        $.ajax({
               url: '@Url.Action("IsImportant", "Contributor",new { area = "Contributor" })/' + taskid,
               type: "POST",
               data: { Id: taskid },
               datatype: "json",
            success: function (result) {
                   //location.reload();

                $(".center-content").html(result);
               },
            error: function (errormessage) {

                alert(errormessage.responseText);
               }
        });
    }

</script>

