﻿@model CustomToDo.Web.Models.TaskPageModel
@using CustomToDo.Web.HelperClass
@{
    ViewBag.Title = "Planned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="centerBackground">
    <div class="tasksToolbar with-subline">
        <div class="tasksToolbar-top">
            <div class="tasksToolbar-headline">
                <div class="tasksToolbar-titleContainer">
                    <div class="tasksToolbar-titleItem">
                        <h2 class="listTitle" tabindex="-1">
                            <span>Planned</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="taskToolbar-right">
                <div class="section">
                    <div class="section-item">
                        <div class="dropdown">
                            <button class="btn loadingButton btn section-innerClick toolbarButton dropdown-toggle" id="remind" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-sort" aria-hidden="true"></i>
                                <span>Sort</span>
                            </button>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Sort by</h6>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Important", "Planned", new { sortOrder = ViewBag.sortImportant })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-calendar " aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Due date", "Planned", new { sortOrder = ViewBag.sortDue })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Added to my day", "Planned", new { sortOrder = ViewBag.sortMyday })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-check" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Completed", "Planned", new { sortOrder = ViewBag.sortComplete })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Alphabetically", "Planned", new { sortOrder = ViewBag.sortAlpha })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <button class="dropdown-item" type="button">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                @Html.ActionLink("Created on", "Planned", new { sortOrder = ViewBag.sortCreate })
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span id="centerColumn">
        <div class="baseAdd addTask" style="width:100%">
            <div class="taskItem-body">
                <span class="glyphicon glyphicon-plus"></span>
                <input id="baseAddInput-addStep" class="baseAdd-input chromeless taskAdd " type="text" maxlength="255" placeholder="Add step" value="" style="margin-left:10px">
                <input type="button" id="Addbtn" class="btn-link addbtn" style="display:none" value="Add" />
            </div>
        </div>
    </span>

    <div class="center-content">
        @Html.Partial("_CenterPageContent", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.addbtn').unbind('click');
        $('.addbtn').bind('click', function () {
            var title = $('.taskAdd').val();
            var type = "Planned";
            $.ajax({
                url: '@Url.Action("Addtask", "Contributor",new { area = "Contributor" })/',
                type: "POST",
                data: { title: title, type: type },
                datatype: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        $('.taskAdd').bind('keyup', function () {
            var stepvalue = $(this).val();
            if (stepvalue.length > 0) {
                $('.addbtn').show();
            }
            else {
                $('.addbtn').hide();
            }
        });
    });

    var flag = 0;

    function checkForComplete(e) {
        var ischeck = $(e).is(":checked");
        var taskid = $(e).data('taskid');
        var ischecked = ischeck;
            $.ajax({
                url: '@Url.Action("Ischeck", "Contributor",new { area = "Contributor" })',
                type: "POST",
                data: { Id: taskid, ischecked: ischecked },
                datatype: "json",
                success: function (result) {
                    //location.reload();
                    $(".center-content").html(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
    }

    $('.dropdown-toggle').dropdown()

    function MarkImportant(taskid) {

        $.ajax({
               url: '@Url.Action("IsImportant", "Contributor",new { area = "Contributor" })/' + taskid,
               type: "POST",
               data: { Id: taskid },
               datatype: "json",
            success: function (result) {
                   //location.reload();

                $(".center-content").html(result);
               },
            error: function (errormessage) {

                alert(errormessage.responseText);
               }
        });
    }


</script>
