﻿@model CustomToDo.Web.Models.TaskModel
@using CustomToDo.Web.HelperClass

<style>
    .details .section-item .file-button .inputFile + label {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
    }

</style>
    
    <div id="@Model.Id" class="sidepanel" data-id="@Model.Id">
        <div class="rightColumn">
            <div class="details">
                <div data-is-scrollable="true" class="details-body">
                    <div class="detailHeader">
                        <div class="detailHeader-titleWrapper">
                            <div>
                                @if (Model.Status == (int)CustomToDoUtility.Statuses.close)
                                {
                                    <div class="pretty p-icon p-fill p-round">
                                        <input type="checkbox" id="complete" class="complete" onclick="checkForCompleteSidePanel(this,'@Model.ParentId');" data-taskid="@Model.Id" checked="checked" />
                                        <div class="state p-info">
                                            <i class="icon mdi mdi-check"></i>
                                            <label></label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="pretty p-icon p-fill p-round">
                                        <input type="checkbox" id="complete" class="complete" onclick="checkForCompleteSidePanel(this,'@Model.ParentId');" data-taskid="@Model.Id" />
                                        <div class="state p-info">
                                            <i class="icon mdi mdi-check"></i>
                                            <label></label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="detailHeader-title">
                                <div class="editableContent" draggable="false">
                                    <div class="editableContent-display" title="test todo">
                                        <input type="text" id="Title" class="Title baseAdd-input chromeless" data-taskid="@Model.Id" value="@Model.Title" />
                                    </div>
                                </div>
                            </div>
                            <div id="important" class="important">
                                @if (Model.Priority == (int)CustomToDoUtility.Priorities.Important)
                                {
                                    <span class="glyphicon glyphicon-star" data-taskid="@Model.Id" onclick="    ('@Model.Id','@Model.ParentId');"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-star-empty" data-taskid="@Model.Id" onclick="MarkImportantSidePanel('@Model.Id','@Model.ParentId');"></span>
                                }
                            </div>
                        </div>
                        @if (Model.SubTaskList != null)
                        {
                            foreach (var item in Model.SubTaskList)
                            {
                                <div class="steps">
                                    <div aria-label="Steps" class="step" data-is-focusable="true">
                                        <div class="detailHeader-titleWrapper ms-DetailsRow-fields">
                                            <div class="step-cell ms-DetailsRow-fields-cell">
                                                @if (item.Status == (int)CustomToDoUtility.Statuses.close)
                                                {
                                                    <div class="pretty p-icon p-fill p-round">
                                                        <input type="checkbox" id="complete" class="complete" data-taskid="@item.Id" onclick="checkForCompleteSidePanel(this,'@item.ParentId');" checked="checked" />
                                                        <div class="state p-info">
                                                            <i class="icon mdi mdi-check"></i>
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="pretty p-icon p-fill p-round">
                                                        <input type="checkbox" id="complete" class="complete" onclick="checkForCompleteSidePanel(this,'@item.ParentId');" data-taskid="@item.Id" />
                                                        <div class="state p-info">
                                                            <i class="icon mdi mdi-check"></i>
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="detailHeader-title">
                                                <div class="editableContent step-cell step-body ms-DetailsRow-fields-cell" draggable="false">
                                                    <div class="editableContent-display step-title">
                                                        <input type="text" id="Title" class="baseAdd-input chromeless" data-taskid="@item.Id" value="@item.Title" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="step-cell step-delete ms-DetailsRow-fields-cell ">
                                                <button class="bttn stepDelete-icon" onclick="deleteSubTask('@item.Id','@item.ParentId')">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            }
                        }
                        <div class="steps">
                            <div class="baseAdd addStep" style="padding-left:10px">
                                <span class="glyphicon glyphicon-plus"></span>
                                @{
                                    var uniqueclass = "uniquestep" + Model.Id;
                                }
                                <input id="baseAddInput-addStep" class="baseAdd-input chromeless stepAdd @uniqueclass" aria-label="Add step"
                                        aria-describedby="baseAddInput-addStep-description"
                                        type="text" maxlength="255" placeholder="Add step" tabindex="-1" value="" style="margin-left:10px">
                                <input type="button" id="step" class="btn-link stepbtn" style="display:none" value="Add" data-taskid="@Model.Id" />
                            </div>
                        </div>
                    </div>
                    @if (Model.DueDate.HasValue && Model.DueDate.Value == DateTime.Today)
                    {
                        <div class="section">
                            <div class="section-item isSet">
                                <button class="section-innerClick bttn" aria-label="Add to My Day" onclick="        (@Model.Id)">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">Add to My Day</div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="section">
                            <div class="section-item">
                                <button class="section-innerClick bttn" aria-label="Add to My Day" onclick="addtomyday(@Model.Id)">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">Add to My Day</div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="section">
                        <div class="section-item">
                            <div class="dropdown">
                                <button class="bttn section-innerClick  dropdown-toggle" id="remind" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                <span>Remind me</span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Reminder</h6>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Today later
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Tomorrow
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Next week
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Pick a date &amp; time
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <div class="dropdown">
                                <button class="bttn section-innerClick  dropdown-toggle" id="due" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                <span>Add Due Date</span>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Due</h6>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Today later
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Tomorrow
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Next week
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button" id="pickdate">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Pick a date &amp; time
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <div class="dropdown dropright">
                                <button class="bttn section-innerClick dropdown-toggle" data-toggle="dropdown" aria-labelledby="repeat-label" aria-describedby="repeat-description" aria-haspopup="true">
                                    <div class="section-inner">
                                        <div class="section-icon">
                                            <i class="glyphicon glyphicon-repeat" aria-hidden="true">
                                            </i>
                                        </div>
                                        <div class="section-content">
                                            <div class="section-title">
                                                <span>Repeat</span>
                                            </div>
                                            <div class="section-description">
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Repeat</h6>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Daily
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Weekdays
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Weekly
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Monthly
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Yearly
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button">
                                        <div class="section-inner">
                                            <div class="section-icon">
                                                <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                                            </div>
                                            <div class="section-content">
                                                <div class="section-title">
                                                    Custom
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="attachmentList">

                        </div>
                        <div class="attachmentData">
                            @if (Session["attachmentList"] !=null)
                            {
                                @Html.Partial("_AttachmentData", Session["attachmentList"])
                            }
                        </div>
                        <div class="section-item">
                            <button class="section-innerClick bttn" aria-haspopup="true">
                                <div class="section-inner file-button">
                                    <div class="section-icon">
                                        <i class="material-icons ">attachment</i>
                                    </div>
                                    <div class="section-content">
                                        <input id="txtUploadFile" class="inputFile" type="file" tabindex="-1" />
                                        <label for="txtUploadFile" class="section-title">Add file</label>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                  
                    <div class="section no-border">
                        <div class="section-item detailNote" aria-label="Note">
                            <textarea id="Comments" name="Comments" class="comments" data-taskid="@Model.Id" style="width:100%;padding:5px;border:none"
                                        rows="4" placeholder="Add Notes">@Model.Comments</textarea>
                        </div>
                    </div>
                    <div class="editableContent-footer">
                        <div class="editableContent-lastEdited">
                            <span class="date">Updated on @Html.DisplayFor(m => Model.LastModifiedOn)</span>
                        </div>
                    </div>
                </div>
                <div class="detailFooter">
                    <div class="root-37">
                        <div class="detailFooter-close bttn">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav('@Model.Id')">
                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="detailFooter-info">
                        <span class="date">Created on @Html.DisplayFor(m => Model.CreatedOn)</span>
                    </div>
                    <div>
                        <div class="root-37">
                            <button class="detailFooter-trash bttn" aria-label="Delete task" id="delete" onclick="DeleteTask('@Model.Id')">
                                <i class="glyphicon glyphicon-trash icon" aria-hidden="true">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#txtUploadFile').on('change', function (e)
        {
            var files = e.target.files;
            var taskID = $(this).closest('.sidepanel')[0].id;

            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Contributor/Contributor/UploadAttachment?taskid=' + taskID,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result)
                        {
                            $('#txtUploadFile').closest('.section').find('.attachmentList').append(appendThumbnailFile(result));
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                }
                else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
             }
        });

        $('.removeAttachment').click(function ()
        {
            $("#ajax-loader").show();
            var attachmentID = $(this).closest('.divAttachment').data('id');
            var taskID = $(this).closest('.sidepanel').data('id');

            $.ajax({
                url: '@Url.Action("RemoveAttachment", "Contributor",new { area = "Contributor" })',
                type: "POST",
                data: { aID: attachmentID, tID: taskID },
                datatype: "json",
                success: function (result)
                {
                    $('.attachmentData').html(result);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                complete: function myfunction() {
                    $("#ajax-loader").hide();
                }
            });
        });

        if (flag != 0) {
           document.getElementById(flag).style.width = "360px";
            document.getElementById("centerBackground").style.marginRight = "360px";
        }
        
        $('.comments').unbind('blur');
        $('.comments').bind('blur', function () {
            var taskid = $(this).data('taskid');
            var comment = $(this).val();
            $.ajax({
                url: '@Url.Action("AddComment", "Contributor",new { area = "Contributor" })/' + taskid,
                type: "POST",
                data: { Id: taskid, comment: comment },
                datatype: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        $('.Title').unbind('blur');
        $('.Title').bind('blur', function () {
            var taskid = $(this).data('taskid');
            var title = $(this).val();
            $.ajax({
                url: '@Url.Action("EditTitle", "Contributor",new { area = "Contributor" })/' + taskid,
                type: "POST",
                data: { Id: taskid, title: title },
                datatype: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        $('.stepbtn').unbind('click');
        $('.stepbtn').bind('click', function () {
            var taskid = $(this).data('taskid');
            var step = $('.uniquestep' + taskid).val();
            $.ajax({
                url: '@Url.Action("AddSteps", "Contributor",new { area = "Contributor" })/' + taskid,
                type: "POST",
                data: { Id: taskid, step: step },
                datatype: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });

        $('.stepAdd').bind('keyup', function () {
            var stepvalue = $(this).val();
            if (stepvalue.length > 0) {
                $('.stepbtn').show();
            }
            else {
                $('.stepbtn').hide();
            }
        });
    });

    function appendThumbnailFile(result)
    {
        var fileSize = calculateFileSize(result.FileSize);

        return str = '<div class="fadeFast-enter-done">' +
            '<a class="link section-item file-item" rel="noreferrer" href="' + result.FilePath + '" id="l-222qh16qmwd" target="_blank" download="new  6.txt" aria-label="File. new  6.txt, 89.1KB. Select enter to open.">' +
            '<div class="thumbnail-wrapper">' +
            '<div class="thumbnail">' + result.FileExtension.toUpperCase() + '</div>' +
            '</div>' +
            '<div class="file-content">' +
            '<div class="file-title">' + result.FileName + '</div>' +
            '<div class="file-metadata"><span>' + fileSize + '</span></div>' +
            '</div>' +
            '</a>' +
            '</div>';
    }

    function calculateFileSize(fileSize)
    {
        if (fileSize > 1048576) {
            return calculatedSize = Math.round(fileSize * 100 / 1048576) / 100 + " MB";
        }
        else if (fileSize > 1024) {
            return calculatedSize = Math.round(fileSize * 100 / 1024) / 100 + " KB";
        }
        else {
            return calculatedSize = fileSize + " Bytes";
        }
    }
   
    $('.dropdown-toggle').dropdown();

    function MarkImportantSidePanel(taskid, pId) {
        $("#ajax-loader").show();
        $.ajax({
            url: '@Url.Action("IsImportant", "Contributor",new { area = "Contributor" })',
            type: "POST",
            data: { Id: taskid },
            datatype: "json",
            success: function (result) {
                //location.reload();

                $(".center-content").html(result);
                openNav(taskid, pId);
                LoadMenu();
            },
            error: function (errormessage) {

                alert(errormessage.responseText);
            },
            complete: function myfunction() {
                $("#ajax-loader").hide();
            }
        });
    }

    function checkForCompleteSidePanel(e, pId) {
        $("#ajax-loader").show();
        var ischeck = $(e).is(":checked");
        var taskid = $(e).data('taskid');
        var ischecked = ischeck;

        $.ajax({
            url: '@Url.Action("Ischeck", "Contributor",new { area = "Contributor" })',
            type: "POST",
            data: { Id: taskid, ischecked: ischecked },
            datatype: "json",
            success: function (result) {
                //location.reload();
                $(".center-content").html(result);
                openNav(taskid, pId);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            },
            complete: function myfunction() {
                $("#ajax-loader").hide();
            }
        });
    }

    function DeleteTask(Id) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: '@Url.Action("Delete", "Contributor",new { area = "Contributor" })/' + Id,
                type: "POST",
                data: Id,
                datatype: "json",
                success: function (result) {
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
    
    function deleteSubTask(id,pId) {
        var ans = confirm("Are you sure you want to delete this task? ");
        if (ans) {
              $("#ajax-loader").show();
            $.ajax({
                url: '@Url.Action("DeleteSubTask", "Contributor",new { area = "Contributor" })',
                type: "POST",
                data: { Id: id },
                datatype: "json",
                success: function (result) {
                    //location.reload();
                    $(".center-content").html(result);
                    openNav(id, pId);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                },
                complete: function myfunction() {
                    $("#ajax-loader").hide();
                }
            });
        }
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav(id) {
        document.getElementById(id).style.width = "0";
        document.getElementById("centerBackground").style.marginRight = "0";
    }

    function addtomyday(taskId) {

        $.ajax({
            url: '@Url.Action("Addtomyday", "Contributor",new { area = "Contributor" })/' + taskId,
            type: "POST",
            data: taskId,
            datatype: "json",
            success: function (result) {
                if (result == "success") {
                    window.location.href = '@Url.Action("MyDay","Contributor",new { area = "Contributor" })';
                }
                else {
                    alert('Error');
                }
            }
        });
    }

</script>
