﻿body {
    font-family: 'Segoe UI', Calibri;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
}

/* - Common Class */
.bg-black {
    background-color: #000;
}

/* - ChatInBox */
.chatbox_container {
    max-height: 350px;
    overflow-y: scroll;
}

.sender_box {
    background-color: #dcf8c5;
    padding: 5px 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}

    .sender_box::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #dcf8c5;
        border-left: 0;
        border-top: 0;
        margin-top: -10px;
        margin-left: -10px;
    }

    .recevier_box p,
    .sender_box p {
        margin-bottom: 0;
        color: #000;
        font-size: 14px;
    }

    .recevier_box span,
    .sender_box span {
        display: block;
        color: #95a987;
        font-size: 11px;
    }

.recevier_box {
    padding: 5px 10px;
    background-color: #fbfbfb;
    position: relative;
    border-radius: 5px;
    margin-bottom: 5px;
}

    .recevier_box::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-left-color: #fbfbfb;
        border-right: 0;
        border-top: 0;
        margin-top: -10px;
        margin-right: -10px;
    }

.chatbox_textarea {
    position: relative;
    display: inline-block;
    width: 100%;
}

.chat_textarea {
    width: calc(100% - 50px);
    border-radius: 10px;
    height: 65px;
}

.chatbox_btnsent {
    position: absolute;
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #01897b;
    border: none;
    border-radius: 100%;
}

/* - ChatInBox END */
.admin_expand.navbar {
    padding: 0;
}

.resultmessagebox {
    margin-top: 10px;
}
/* - Header */
.sitelogo.navbar-brand {
    padding: 0;
}

    .sitelogo.navbar-brand img {
        max-width: 50px;
    }

.admin-navbar .nav-link i {
    color: #fff;
    font-size: 24px;
    margin-top: 0;
    line-height: 34px;
}

#sidebarToggle i {
    font-size: 24px;
}

.admin-navbar .nav-link:hover i {
    color: #ccc;
}

.navbar-nav .nav-item .nav-link .badge {
    top: 5px;
    font-weight: 400;
    font-size: 9px;
    position: absolute;
    right: 11px;
}

.admin-navbar .nav-item {
    border-right: 1px solid #fff;
}

    .admin-navbar .nav-item.mx-1 {
        margin-left: 0 !important;
        padding-right: 10px !important;
        margin-right: 10px !important;
    }

    .admin-navbar .nav-item:last-of-type {
        border-right: none;
    }

.userprofile-ic {
    text-align: center;
}

    .userprofile-ic img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 2px solid #ffe700;
    }

    .userprofile-ic span {
        color: #ffe700;
        font-size: 14px;
        font-weight: 600;
        margin-left: 5px;
    }


/* - SideBar */
/*.sidebar {
    background-color: #fff;
}*/

.nav-label {
    color: #acaba7;
    font-size: 18px;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    text-transform: uppercase
}

.sidebar .nav-item .nav-link {
    word-wrap: break-word;
}

.toggled .nav-label {
    text-align: center;
    font-size: 11px;
}

.admin-navbarlist .nav-item {
    border-top: 1px solid #333333;
}

    .admin-navbarlist .nav-item:last-of-type {
        border-bottom: 1px solid #333;
    }

.sidebar .admin-navbarlist .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
}

    .sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item i,
    .sidebar .admin-navbarlist .nav-item .nav-link i {
        font-size: 18px;
        margin-right: 6px;
        color: #acaba7;
    }

.sidebar .admin-navbarlist .nav-item.dropdown.show {
    background-color: #333;
}

.sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item {
    padding: 1rem 30px;
    color: #fff;
}

    .sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: #ffe700;
        color: #000;
    }

        .sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item:hover i {
            color: #000;
        }

.admin-wrapper {
    padding-top: 0;
}

.quick-linkbar {
    background-color: #ffe700;
}

    .quick-linkbar .breadcrumb {
        margin-bottom: 0;
        background-color: transparent;
    }

        .quick-linkbar .breadcrumb li a {
            color: #000;
            padding: 0 5px;
        }

    .quick-linkbar .breadcrumb-item + .breadcrumb-item:nth-child(2)::before {
        content: "";
    }

    .quick-linkbar .breadcrumb-item + .breadcrumb-item::before {
        content: "|";
        color: #000;
    }

.searchbox-input {
    margin-top: 6px;
    padding-right: 15px;
}

    .searchbox-input .form-control {
        border: none;
        background-color: rgba(255,255,255,0.6);
        border-radius: 0;
        color: #000;
    }

    .searchbox-input .btn-primary:not(:disabled):not(.disabled):active,
    .searchbox-input .btn:active,
    .searchbox-input .btn:focus,
    .searchbox-input .btn {
        border-radius: 0;
        background-color: rgba(255,255,255,0.6);
        border: none;
        color: #000;
    }

#wrapper #content-wrapper {
    padding-top: 0;
    background-color: #f1f1f1;
}

.progress-section {
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;
}

.progress-bar {
    width: 0;
}

.progress-section .progresbox {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    overflow: visible;
    background-color: transparent;
    border-radius: 0;
}

.progresbox p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}

.progresbox span {
    float: right;
}

.progress-bar {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
}

.progress {
    position: relative;
    height: 10px;
}

.pr-color1 .progress-bar {
    background-color: #76c80e;
}

.pr-color2 .progress-bar {
    background-color: #ff9501;
}

.pr-color3 .progress-bar {
    background-color: #1fbba6;
}

.pr-color4 .progress-bar {
    background-color: #6cd0f4;
}

.table-buttons-group .form-inline .input-group {
    margin-bottom: 15px;
}


/* Dropdown Menu */
.admin_expand .dropdown-menu {
    background-color: #000;
    border: none;
    border-radius: 0;
    padding: 0px;
}

.admin_expand .dropdown-item {
    color: #fff;
    padding: .40rem 1.5rem;
    border-bottom: 1px solid #333;
}

.admin_expand .dropdown-divider {
    margin: 0px;
    border-top: none;
}

.admin_expand .dropdown-item:active,
.admin_expand .dropdown-item:focus,
.admin_expand .dropdown-item:hover {
    background-color: #ffe700 !important;
    color: #000 !important;
    border-color: #ffe700 !important;
}

.admin-navbarlist .nav-item .dropdown-menu {
    background-color: #444;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 0;
}

/* - Statistics Section */
.statistics-section {
    margin-top: 40px;
    padding: 0 15px;
}

.statisticsbox {
    position: relative;
    padding-left: 100px;
    background-color: #fff;
    min-height: 80px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.50);
}

.statistics_imgbox {
    position: absolute;
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 75px;
    text-align: center;
    left: 0;
}

.statisticsbox.dc-one .statistics_imgbox {
    background-color: #76c80e
}

.statisticsbox.dc-two .statistics_imgbox {
    background-color: #ff9501
}

.statisticsbox.dc-three .statistics_imgbox {
    background-color: #fe5e3a
}

.statisticsbox.dc-four .statistics_imgbox {
    background-color: #1fbba6
}

.statisticsbox.dc-five .statistics_imgbox {
    background-color: #6cd0f4
}

.statisticsbox.dc-six .statistics_imgbox {
    background-color: #76726f
}

.statisticsbox h3 {
    font-size: 30px;
    line-height: 24px;
    color: #000;
    padding-top: 15px;
}

.statisticsbox p {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
}

.block-title {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    line-height: normal;
    font-weight: 600;
}

.search-member-section {
    padding-left: 15px;
    padding-right: 15px;
}

    .search-member-section .form-inline {
        background-color: #fff;
        padding: 25px 5px 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.50);
    }

        .search-member-section .form-inline .btn,
        .search-member-section .form-inline {
            width: 100%;
        }

            .search-member-section .form-inline .form-control {
                border-radius: 3px;
                border: 1px solid #ddd;
                margin-bottom: 20px;
            }

            .search-member-section .form-inline .btn {
                background-color: #ffe700;
                color: #000;
                border: 1px solid #ddd;
                margin-bottom: 20px;
            }

                .search-member-section .form-inline .btn:hover {
                    background-color: #000;
                    color: #fff;
                    border-color: #000;
                }


.tablelist-section {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 100%;
}

.table-buttons-group .form-inline {
    width: 100%;
}

.table-responsive {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.table thead th {
    border-bottom: 1px solid #ddd;
    font-weight: 900;
}

.table th {
    border-top: none;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    vertical-align: middle;
}

.table td {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    vertical-align: middle;
}

.table .table_btn {
    display: inline-block;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin: 0 2px;
}

    .table .table_btn.orange_bg {
        background-color: #ff9500;
    }

    .table .table_btn.green_bg {
        background-color: #76c80c;
    }

    .table .table_btn:hover {
        background-color: #222;
    }

.table td a {
    color: #fff;
    font-size: 15px;
}

.btn_bluksms {
    display: inline-block;
    padding: 6px 15px;
    background-color: #ffe700;
    color: #000;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
}

    .btn_bluksms:hover {
        background-color: #000;
        color: #fff;
        text-decoration: none;
    }

.user_thumbphoto {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.table-buttons-group .form-control {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    font-size: 13px;
}

/*===========
			Measurement
==================================*/
.workout-description .form-group {
    padding-bottom: 0px;
}

    .workout-description .form-group label {
        font-weight: 600;
    }

    .workout-description .form-group span.number {
        background-color: #ffe700;
        color: #000;
        padding: 6px 11px;
        height: 20px;
        width: 20px;
        font-weight: 500;
    }

/* - Footer */
footer.sticky-footer {
    background-color: #ddd;
    height: auto;
    padding: 5px 15px;
}

.copyrightbox {
    width: 50%;
    float: left;
}

    .copyrightbox p {
        margin: 0;
        padding-top: 5px;
    }

.socials-icons {
    width: 50%;
    text-align: right;
}

.sticky-footer .socials-icons ul {
    padding-left: 0px;
    margin-bottom: 0;
}

.sticky-footer .socials-icons li {
    display: inline-block;
    margin: 0 5px;
}

    .sticky-footer .socials-icons li a {
        color: #000;
        font-size: 22px;
    }


/* ## Responsive */
@media (min-width:768px) {
    .sidebar.toggled .dropdown-menu.show .dropdown-item span,
    .sidebar.toggled .nav-item .nav-link span {
        display: none;
    }

    .sidebar.toggled .nav-item .dropdown-menu {
        left: 101px !important;
        top: -1px !important;
        min-width: auto;
    }

    .sidebar.toggled .progress-section {
        padding: 0 8px;
    }

        .sidebar.toggled .progress-section .progresbox span {
            float: none;
        }
}

@media (min-width:992px) {
    .navbar-nav.ml-auto.admin-navbar {
        padding-right: 5px;
    }
}

@media (max-width:991px) {
    .statisticsbox {
        padding-left: 90px;
    }

        .statisticsbox h3 {
            font-size: 22px;
            line-height: 22px;
        }

        .statisticsbox p {
            font-size: 13px;
        }
}


@media (max-width:767px) {
    .dropdown-menu .dropdown-item span,
    .sidebar .nav-item .nav-link span,
    .nav-label {
        font-size: 11px;
        text-align: center;
        display: none;
    }

    .sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item,
    .sidebar .nav-item .dropdown-menu,
    .sidebar {
        width: 65px !important;
    }

        .sidebar .nav-item .nav-link {
            padding: 15px;
            width: 65px;
        }

    .dropdown-menu .dropdown-item {
        text-align: center;
    }

    .sidebar .nav-item .dropdown-menu {
        left: 65px !important;
        min-width: auto;
    }

    .sidebar .admin-navbarlist .nav-item .dropdown-menu .dropdown-item {
        padding: 1rem 0;
        width: 110px;
        text-align: center;
    }


    footer.sticky-footer {
        width: calc(100% - 65px);
    }

    .socials-icons,
    .copyrightbox {
        width: 100%;
        text-align: center;
    }

        .copyrightbox p {
            font-size: 13px;
        }

    .sticky-footer .socials-icons li a {
        font-size: 15px;
    }

    .progress-section {
        display: none;
    }
}

@media (max-width:575px) {

    .userprofile-ic span {
        display: none;
    }

    .searchbox-input {
        padding-right: 0;
        margin-top: 0;
    }

    .quick-linkbar .breadcrumb li a {
        padding: 0;
    }
}

@media (max-width:479px) {
    .quick-linkbar .breadcrumb li {
        width: 100%;
    }

    .quick-linkbar .breadcrumb-item + .breadcrumb-item::before {
        content: "";
        padding: 0;
    }
}

.activeMenu {
    background-color: #ffe700 !important;
    color: #000000 !important;
}

    .activeMenu > a {
        color: #000000 !important;
    }

    .activeMenu a i {
        color: #000000 !important;
    }
