﻿/*!
 * Start Bootstrap - SB Admin v5.0.2 (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', Calibri;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    #wrapper #content-wrapper {
        overflow-x: hidden;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 80px;
    }

body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
}

@media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
        padding-left: 280px;
    }

    body.fixed-nav.sidebar-toggled #content-wrapper {
        padding-left: 90px;
    }
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 46px;
}

    .scroll-to-top:focus, .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: #343a40;
    }

    .scroll-to-top i {
        font-weight: 800;
    }

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.navbar-nav .form-inline .input-group {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item .nav-link:focus {
    outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
    position: absolute;
    margin-left: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}

.sidebar {
    
    min-width: 250px;
    max-width: 250px;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: all 0.5s;
    border: 1px solid black;
}
    .sidebar.toggled .sidebar-header h3, #sidebar.active .CTAs {
        display: none;
    }

    .sidebar.toggled .sidebar-header strong {
        display: block;
    }

    .sidebar ul li a {
        text-align: left;
    }

    .sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
    }

        .sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    .sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
    }

    .sidebar ul li a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 280px;
        
    }

        .sidebar ul li a:hover {
            color: #777;
            /*background: #fff;*/
            text-decoration: none;
        }

        .sidebar ul li a i {
            margin-right: 10px;
        }

    .sidebar ul li.toggled > a, a[aria-expanded="true"] {
        color: #000;
        /*background: #000;*/
    }


    .sidebar ul:last-child {
        margin-bottom: 1rem;
    }

    .sidebar ul li {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 110px;
    }

        .sidebar ul li span {
            font-size: 20px;
            display: block;
        }

    /*.sidebar .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }*/

        /*.sidebar .nav-item .dropdown-menu.dropup {
            bottom: 0;
            top: auto !important;
        }

    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }*/

    /*.sidebar ul li {
        color: rgba(255, 255, 255, 0.5);
    }

        .sidebar ul li:active, .sidebar ul li:focus, .sidebar ul li:hover {
            color: rgba(255, 255, 255, 0.75);
        }*/

.sidebar.toggled {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    /*width: 0 !important;*/
    overflow: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        width: 280px !important;
    }

        /*.sidebar ul li {
            display: block;
            width: 100%;
            text-align: left;
            padding: 1rem;
            width: 280px;
        }*/

            .sidebar ul li span {
                font-size: 1.5rem;
                display: inline;
            }

        /*.sidebar .nav-item .dropdown-menu {
            position: static !important;
            margin: 0 1rem;
            top: 0;
        }

        .sidebar .nav-item.dropdown .dropdown-toggle::after {
            display: block;
        }*/

        .sidebar.toggled {
           
            overflow: visible;
            width: 110px !important;
        }

            .sidebar.toggled ul:last-child {
                margin-bottom: 1rem;
            }

            .sidebar.toggled ul li {
                text-align: center;
                padding: 0.75rem 1rem;
                width: 90px;
            }

                .sidebar.toggled ul li span {
                    visibility:hidden;
                    display: block;
                }

            /*.sidebar.toggled .nav-item .dropdown-menu {
                position: absolute !important;
                -webkit-transform: none !important;
                transform: none !important;
                left: calc(110px + 0.5rem) !important;
                margin: 0;
            }

                .sidebar.toggled .nav-item .dropdown-menu.dropup {
                    bottom: 0;
                    top: auto !important;
                }

            .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
                display: none;
            }*/
}

.sidebar.fixed-top {
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

.form-label-group {
    position: relative;
}

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
        height: auto;
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y) / 3);
            padding-bottom: calc(var(--input-padding-y) / 3);
            font-size: 12px;
            color: #777;
        }

footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 110px);
    height: 80px;
    background-color: #e9ecef;
}

    footer.sticky-footer .copyright {
        line-height: 1;
        font-size: 0.8rem;
    }
    /*loader CSS Start*/
#ajax-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: grey;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
    background: Grey url("../../images/Loader_50x50.gif") no-repeat center center;
    z-index: 2000;
}
/*loader CSS End*/
@media (min-width: 768px) {
    footer.sticky-footer {
        width: calc(100% - 280px);
    }
}

body.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

@media (min-width: 768px) {
    body.sidebar-toggled footer.sticky-footer {
        width: calc(100% - 110px);
    }
}
