﻿html[dir=ltr] .details {
    border-left: 1px solid #eaeaea;
}
.details {
    height: 100%;
    position: relative;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 360px;
    box-sizing: border-box;
    flex: 1;
}
.isSet {
    color: #465efc
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
}

.details .details-body {
    overflow: auto;
    margin-top: 10px;
    padding: 0 10px 16px 10px;
    overflow-x: hidden;
    flex: 1;
}
.detailHeader {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 2px 2px 0 0;
    border-bottom: 0;
    padding: 0 10px 2px 10px;
    
}
    .detailHeader .detailHeader-title {
        position: relative;
        align-self: flex-start;
        margin: 4px 0;
        padding: 2px 0px;
        border-radius: 2px;
        font-size: 1.6rem;
        font-weight: 600;
        flex: 1 1 0px;
    }
.detailHeader .detailHeader-actions, .detailHeader .detailHeader-titleWrapper {
    display: flex;
    min-height: 40px;
    align-items: center;
    max-width: 100%;
    }

.stepHeader {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background: white;
    /*border: 1px solid #eaeaea;*/
    /*border-radius: 2px 2px 0 0;*/
    /*border-bottom: 0;*/
    padding: 0 10px 2px 10px;
}

.stepHeader .stepHeader-titleWrapper {
    display: flex;
    min-height: 48px;
    align-items: center;
    max-width: 100%;
}

.baseAdd {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.screenreader-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
}
.details .details-separator {
    position: -webkit-sticky;
    position: sticky;
    pointer-events: none;
    z-index: 10;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    height: 2px;
    background: white;
}
.details .section-item {
    min-height: 52px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 24px 25px 0 -24px rgba(0,0,0,0.08);
}
.details .section-item .file-button .inputFile {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.details .section {
    /*z-index:4;*/
    position: relative;
    background: white;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.details .section-item:last-child {
    box-shadow: none;
}
html[dir=ltr] .details .section-item .section-content {
    text-align: left;
}

.details .section-item .file-button .section-content {
    width: 100%;
    height: 100%;
}
.details .section-item .section-delete .fontIcon, .details .section-item .section-icon .fontIcon {
    color: #767678;
}
.details .section-item .section-delete, .details .section-item .section-icon {
    margin: 0 4px;
    fill: #767678;
    color: #767678;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    text-align: center;
}
.details .section-item .section-content {
    margin-right: 8px;
    margin-left: 8px;
    overflow: hidden;
    flex: auto;
    text-align:left;
}
.details .section-item {
    min-height: 52px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 24px 25px 0 -24px rgba(0,0,0,0.08);
}
    .details .section-item .section-inner {
        display: flex;
        flex: auto;
        padding: 4px 0;
    }
.details .section-innerClick {
    padding: 0 8px;
}
.details .section.no-border {
    border: none;
}
.details .section-item.detailNote {
    align-items: flex-start;
    padding: 16px;
    height: auto;
    border: 1px solid #eaeaea;
    border-width: 1px;
    border-radius: 2px;
}
.detailNote .editableContent {
    width: 100%;
}

.editableContent {
    flex: 1 1 0px;
}
html[dir=ltr] .editableContent-deleteButton, html[dir=ltr] .editableContent-editButton {
    right: 0;
}

.detailNote .editableContent-editButton, .detailNote .editableContent-deleteButton {
    top: 24px;
    position: absolute;
}
.details .section-item.detailNote.edit {
    border-color: #346fef
}
.editableContent-deleteButton, .editableContent-editButton {
    z-index: 10001;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: white;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    padding: 5px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}
.editableContent {
    flex: 1 1 0px
}

    .editableContent.empty .editableContent-display {
        color: #767678
    }

    .editableContent.multiLine .editableContent-display {
        white-space: pre-line;
    }
.bttn{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}

.editableContent-edit, .editableContent-display, .editableContent-textarea {
    height: auto;
    border: none;
    font-weight: 400;
    line-height: 2rem;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
    color: #34373d
}

.ms-Fabric--isFocusVisible .editableContent-edit:focus,
.ms-Fabric--isFocusVisible .editableContent-display:focus,
.ms-Fabric--isFocusVisible .editableContent-textarea:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.editableContent-edit a, .editableContent-display a, .editableContent-textarea a {
    color: #465efc
}

.ms-Fabric--isFocusVisible .editableContent-edit a:focus,
.ms-Fabric--isFocusVisible .editableContent-display a:focus,
.ms-Fabric--isFocusVisible .editableContent-textarea a:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.editableContent.small .editableContent-edit, .editableContent.small .editableContent-display,
.editableContent.small .editableContent-textarea {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500
}

.editableContent.big, .editableContent-edit, .editableContent-display, .editableContent-textarea {
    font-size: 1.6rem;
    font-weight: 200
}

.editableContent-textarea {
    box-shadow: none;
    display: block;
    -ms-overflow-style: none
}

.editableContent-display, .editableContent-display span,
.editableContent-display a {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.editableContent-textarea, .editableContent-display {
    min-height: 15px
}
.detailHeader .editableContent {
    width: 100%;
    padding: 0 10px 0 0;
    overflow: visible;
    box-sizing: border-box;
}


.detailHeader .editableContent .editableContent-display {
    font-weight: 600;
}

.editableContent-textarea, .editableContent-display {
    min-height: 15px;
    
}
.root-37 {
    display: inline-block;
}
   .detailFooter {
   
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 38px;
    justify-content: space-between;
    background: #f4f4f4;
    border-top: 1px solid #eaeaea;
}
    .detailFooter .detailFooter-close {
        padding: 2px;
        cursor: pointer;
        height: 32px;
        width: 32px;
    }
    .detailFooter .detailFooter-close, .detailFooter .detailFooter-trash {
        text-align: center;
        border-radius: 2px;
    }
    .detailFooter .detailFooter-info {
        font-size: 1.2rem;
        color: #666666;
        text-align: center;
    }
    .detailFooter .detailFooter-trash {
        padding: 4px;
        cursor: pointer;
        height: 32px;
        width: 32px;
    }

   
html[dir=ltr] #notifications {
    right: 0;
}

#notifications {
    padding: 0 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
    background: transparent;
    max-height: 100%;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
}
.rightColumn-entered {
    width: calc(100% - 50px);
}

.rightColumn {
    right:0;
    box-sizing: border-box;
    /*background: white;*/
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: width 180ms ease;
    /*width: calc(100% - 50px);*/
    max-width: 360px;
}

.step {
    padding: 0;
    display: flex !important;
    align-items: center;
    min-height: 42px;
    border-bottom: 0;
    background: transparent;
}

    .step .step-cell {
        display: flex;
        align-items: center;
        padding: 0
    }

    .step .ms-DetailsRow-fields {
        width: 100%
    }

.step:hover {
    background-color: #f5f5f5
}

    .step:hover .step-body, .step:hover .step-delete {
        box-shadow: 0 0 0 1px #f5f5f5
    }

.step:focus {
    background: #f4f6ff
}

.ms-Fabric--isFocusVisible .step:focus::after {
    box-shadow: 0 0 0 0.2rem #465efc;
    outline: none !important;
    border: none !important;
    left: 2px !important;
    right: 2px !important;
    top: 2px !important;
    bottom: 2px !important
}

.step:focus .step-body, .step:focus .step-delete {
    box-shadow: inset 0 0 0 1px #f4f6ff
}

.step.selected {
    background: #f4f6ff
}

    .step.selected .step-body, .step.selected .step-delete {
        box-shadow: inset 0 0 0 1px #f4f6ff
    }

.step .step-body, .step .step-delete {
    box-shadow: 0 1px 0 0 #eaeaea
}

.step .step-cell.step-body {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 0px
}

    .step .step-cell.step-body .step-title {
        padding: 6px 0;
        flex: 1 1 0px;
        display: flex;
        align-items: center;
        min-height: 30px
    }

html[dir=ltr] .step .step-cell.step-body .step-title {
    margin-left: 8px
}

html[dir=rtl] .step .step-cell.step-body .step-title {
    margin-right: 8px
}

.step .step-cell.step-body .step-title:after {
    content: '';
    min-height: inherit;
    font-size: 0
}

.step .step-cell.step-body .step-title .textArea {
    width: 100%
}

.step .step-cell.step-body .step-title .textField-input {
    background-color: rgba(255,255,255,0.1)
}

.step-cell.step-delete {
    fill: #767678;
    padding: 11px 9px;
}

    .step-cell.step-delete .stepDelete-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 24px;
        height: 24px;
        cursor: pointer;
        box-sizing: content-box
    }

       

        /*.step-cell.step-delete .stepDelete-icon:focus {
            border-radius: 1px
        }*/

/*.ms-Fabric--isFocusVisible .step-cell.step-delete .stepDelete-icon:focus {
    box-shadow: 0 0 0 1px white,0 0 0 3px #465efc !important
}*/

.lineCursor .step:hover, .dropCursor .step:hover {
    background: none
}

    .lineCursor .step:hover .step-body, .dropCursor .step:hover .step-body {
        box-shadow: 0 1px 0 0 #eaeaea
    }

.step.completed .textField-input {
    text-decoration: line-through;
    color: #767678
}

.addStep {
    display: flex;
    align-items: center;
    height: 40px;
}


html[dir=ltr] .addStep .baseAdd-icon {
    margin-left: 2px
}

html[dir=rtl] .addStep .baseAdd-icon {
    margin-right: 2px
}

.addStep .baseAdd-icon .ms-Icon--Add {
    text-align: center;
    width: 24px
}

.addStep .baseAdd-icon .checkbox path:last-child {
    display: none
}

html[dir=ltr] .addStep .baseAdd-input {
    margin-left: 2px
}

html[dir=rtl] .addStep .baseAdd-input {
    margin-right: 2px
}


.addStep .baseAdd-input::-moz-placeholder {
    opacity: 1
}

.addStep .baseAdd-input a {
    cursor: default
}

.steps {
    z-index: 5;
    background: white;
    padding: 0px 6px 2px;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-bottom: 0
}
.textArea {
    flex: 1 0 0px
}

    .textArea .ms-TextField-fieldGroup {
        min-height: 15px;
        background-color: inherit;
        white-space: pre-wrap
    }

    .textArea .textField-input {
        height: auto;
        border: none;
        font-weight: 400;
        line-height: 2rem;
        word-wrap: break-word;
        word-break: break-word;
        width: 100%;
        color: #34373d;
        box-shadow: none;
        display: block;
        -ms-overflow-style: none
    }

.ms-Fabric--isFocusVisible .textArea .textField-input:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.textArea .textField-input a {
    color: #465efc
}

.ms-Fabric--isFocusVisible .textArea .textField-input a:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.textArea .textField-small .textField-input {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 30px
}

    .textArea .textField-small .textField-input.ms-TextField-field {
        padding: 0;
        min-height: 1.8rem;
        height: 1.8rem
    }
.step .ms-DetailsRow-fields {
    width: 100%
}


/*.details .section-item .section-innerClick {
    height: auto;
    min-height: 52px;
}

.details .section-innerClick {
    padding: 0 8px;
}*/