﻿/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Segoe UI', Calibri;
           font-weight: normal;
           font-size: 12px;
            width: 100%;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: #777;
    /*text-decoration: underline;*/
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

/*#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #000;
    transition: all 0.3s;
}*/
   
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        
    }

        #sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #777;
            background: #fff;
            text-decoration:none;
        }

        #sidebar ul li a i {
            margin-right: 10px;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #000;
    }


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}
/* ---------------------------------------------------
    Login 
----------------------------------------------------- */
.login-form {
    width: 380px;
    margin: 0 auto;
    border: 1px solid black;
}
.login-form form {
    color: #7a7a7a;
    margin-bottom: 15px;
    background: #fff;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    padding: 30px;
    
}
.baseAdd {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center
}
    .baseAdd.completed {
        text-decoration: line-through;
        color: #767678;
    }
/*Main design*/
.baseAdd.addTask {
    box-shadow: 0 20px 0 1px #e5e5e5;
    margin: 2px 0px; 
    padding: 0px 0px;
    cursor: pointer;
}

    
    .baseAdd.addTask .baseAdd-input {
        padding: 16px 12px;
        max-width: 100%;
        
    }
    .baseAdd.addTask .baseAdd-input .checkbox path:last-child {
            display: none
        }
    .baseAdd.addTask .baseAdd-icon .icon .checkbox-22 svg {
        fill: #d3d3d3
    }
    

    .addToTop .baseAdd.addTask {
        box-shadow: 0 17px 0 -16px #e5e5e5;
        padding: 0 13px
    }

    .addToTop .baseAdd.addTask.focused {
        box-shadow: 0 17px 0 -16px #767678
    }

[type=text], [type=email], [type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 6px 8px 6px;
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
    font-weight: 500;
    font-size: 1.4rem;
    color: darkgray;
    border: none;
    background: white;
    transition: all 0.15s ease-in-out;
    box-shadow: inset 0 0 0 1px #767678;
    border-radius: 2px
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
}

    [type=text].chromeless, 
    [type=email].chromeless,
    [type=password].chromeless {
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        border-radius: 0 !important
    }

    [type=text].small, 
    [type=email].small,
    [type=password].small {
        font-size: 1.4rem;
        padding: 3px
    }

    [type=text][disabled], 
    [type=email][disabled], 
    [type=password][disabled] {
        border-color: #ccc;
        color: #767678
    }

    [type=text]:-moz-placeholder,
    [type=email]:-moz-placeholder, 
    [type=password]:-moz-placeholder {
        color: #767678
    }

    [type=text]::-ms-clear, 
    [type=email]::-ms-clear,
    [type=password]::-ms-clear {
        display: none
    }

textarea {
    font-family: "Segoe","Segoe UI";
    resize: none;
    color: darkgray;
    font-weight: 500
}
.metaDataInfo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #767678;
    flex-wrap: wrap
}

    .metaDataInfo .metaDataInfo-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap
    }

        .metaDataInfo .metaDataInfo-group:after {
            color: #c2c2c2;
            content: '•';
            margin: 0 6px
        }

        .metaDataInfo .metaDataInfo-group:last-child:after {
            content: ''
        }

    .metaDataInfo .icon {
        display: flex;
        align-items: center;
        font-size: 1.2rem
    }

.taskItem.selected .metaDataInfo-group:after {
    color: #767678
}

.taskItemInfo-date, .taskItemInfo
.ms-Fabric--isFocusVisible select:focus, 
.ms-Fabric--isFocusVisible [type=checkbox]:focus {
    box-shadow: 0 0 0 1px white,0 0 0 3px #465efc !important
}
.taskItem-titleWrapper {
    font-size: 1.4rem;
    font-weight: 500;
    color: #34373d;
    cursor: default;
    position: relative;
    flex: 1 1 0px;
    min-height: 52px;
    padding: 8px 12px;
    line-height: 2rem;
    overflow: hidden;
    cursor: pointer
}

html[dir=ltr] .taskItem-titleWrapper {
    text-align: left
}

html[dir=rtl] .taskItem-titleWrapper {
    text-align: right
}

.ms-Fabric--isFocusVisible .taskItem-titleWrapper:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.taskItem-titleWrapper a {
    color: #465efc
}

.ms-Fabric--isFocusVisible .taskItem-titleWrapper a:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}


html [type=text], html [type=email], html [type=password] {
    font-family: "Segoe","Segoe UI","Arial","sans-serif"
}

html:lang(ja) [type=text], 
html:lang(ja) [type=email],
html:lang(ja) [type=password]
{
    font-family: "Meiryo UI","Meiryo",
}

html:lang(zh) [type=text], 
html:lang(zh) [type=email],
html:lang(zh) [type=password] 
{
    font-family: "Segoe UI"
}
@media screen and (-ms-high-contrast: active), screen and (forced-colors: active) {
    input, textarea {
        border: 1px solid buttontext
    }

        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: default !important
        }

        button:focus, [role=button]:focus, 
        a:focus, 
        select:focus,
        input:focus, 
        textarea:focus 
        {
            box-shadow: none !important;
            outline: solid 2px !important
        }

    .checkBox:focus, 
    .taskItem-titleWrapper:focus,
    .importanceButton:focus,
    .listItem:focus,
    .todayToolbar-item:focus, 
    .groupItem-inner:focus,
    .ms-ContextualMenu-link:focus, 
    .memberItem:focus {
        outline-offset: -2px
    }

    .ms-Fabric--isFocusVisible .checkBox:focus, 
    .ms-Fabric--isFocusVisible .taskItem-titleWrapper:focus, 
    .ms-Fabric--isFocusVisible .importanceButton:focus,
    .ms-Fabric--isFocusVisible .listItem:focus,
    .ms-Fabric--isFocusVisible .todayToolbar-item:focus, 
    .ms-Fabric--isFocusVisible .groupItem-inner:focus,
    .ms-Fabric--isFocusVisible .ms-ContextualMenu-link:focus,
    .ms-Fabric--isFocusVisible .listTitle:focus, 
    .ms-Fabric--isFocusVisible .memberItem:focus {
        box-shadow: none !important;
        outline: solid 2px !important
    }

    .ms-Fabric--isFocusVisible .recurringOptions-days .recurringOptions-day:focus {
        box-shadow: none !important;
        outline: solid 2px !important;
        outline-color: white !important
    }

    button, a.button {
        color: default !important;
        border: 1px solid buttontext !important
    }

        button.popoverMenuItem, div.popoverMenuItem, button.section-innerClick {
            border: none !important;
            border-bottom: 1px solid buttontext !important
        }

            button.popoverMenuItem:last-child, div.popoverMenuItem:last-child, button.section-innerClick:last-child {
                border: none !important
            }

        button.checkBox, button.detailHeader-checkbox,
        div.popoverMenuDivider, button.section-innerClick, 
        button.baseAdd-icon, button.taskItem-titleWrapper,
        button.ms-ContextualMenu-link {
            border: none !important
        }

        button:hover, .importanceButton:hover, 
        .popoverMenuItem:hover, .listItem:hover, 
        .todayToolbar-item:hover,
        .members_assignment .memberItem:hover {
            -ms-high-contrast-adjust: none;
            background-color: highlight !important;
            color: highlighttext !important
        }

            button:hover .fontIcon:before, .importanceButton:hover .fontIcon:before, .popoverMenuItem:hover .fontIcon:before, .listItem:hover .fontIcon:before, .todayToolbar-item:hover .fontIcon:before, .members_assignment .memberItem:hover .fontIcon:before {
                color: highlighttext !important
            }

            button:hover .svgIcon svg path, button:hover .svgIcon svg circle, .importanceButton:hover .svgIcon svg path, .importanceButton:hover .svgIcon svg circle, .popoverMenuItem:hover .svgIcon svg path, .popoverMenuItem:hover .svgIcon svg circle, .listItem:hover .svgIcon svg path, .listItem:hover .svgIcon svg circle, .todayToolbar-item:hover .svgIcon svg path, .todayToolbar-item:hover .svgIcon svg circle, .members_assignment .memberItem:hover .svgIcon svg path, .members_assignment .memberItem:hover .svgIcon svg circle {
                fill: highlighttext !important
            }

            button:hover .listItem-title, button:hover .listItem-count, button:hover .todayToolbar-title, button:hover .todayToolbar-count, button:hover .listItem-icon, button:hover .emoji, button:hover .toolbarButton-inner, .importanceButton:hover .listItem-title, .importanceButton:hover .listItem-count, .importanceButton:hover .todayToolbar-title, .importanceButton:hover .todayToolbar-count, .importanceButton:hover .listItem-icon, .importanceButton:hover .emoji, .importanceButton:hover .toolbarButton-inner, .popoverMenuItem:hover .listItem-title, .popoverMenuItem:hover .listItem-count, .popoverMenuItem:hover .todayToolbar-title, .popoverMenuItem:hover .todayToolbar-count, .popoverMenuItem:hover .listItem-icon, .popoverMenuItem:hover .emoji, .popoverMenuItem:hover .toolbarButton-inner, .listItem:hover .listItem-title, .listItem:hover .listItem-count, .listItem:hover .todayToolbar-title, .listItem:hover .todayToolbar-count, .listItem:hover .listItem-icon, .listItem:hover .emoji, .listItem:hover .toolbarButton-inner, .todayToolbar-item:hover .listItem-title, .todayToolbar-item:hover .listItem-count, .todayToolbar-item:hover .todayToolbar-title, .todayToolbar-item:hover .todayToolbar-count, .todayToolbar-item:hover .listItem-icon, .todayToolbar-item:hover .emoji, .todayToolbar-item:hover .toolbarButton-inner, .members_assignment .memberItem:hover .listItem-title, .members_assignment .memberItem:hover .listItem-count, .members_assignment .memberItem:hover .todayToolbar-title, .members_assignment .memberItem:hover .todayToolbar-count, .members_assignment .memberItem:hover .listItem-icon, .members_assignment .memberItem:hover .emoji, .members_assignment .memberItem:hover .toolbarButton-inner {
                -ms-high-contrast-adjust: none;
                background-color: highlight !important;
                color: highlighttext !important
            }

    .active, .active * {
        -ms-high-contrast-adjust: none;
        background-color: highlight !important;
        color: highlighttext !important
    }

        .active .fontIcon:before, .active * .fontIcon:before {
            color: highlighttext !important
        }

        .active .svgIcon svg path, .active .svgIcon svg circle, .active * .svgIcon svg path, .active * .svgIcon svg circle {
            fill: highlighttext !important
        }

    button.section-innerClick:hover .section-title {
        color: highlighttext !important
    }

    .modal, .popover, .catchUp {
        border: 1px solid buttontext !important
    }

    .taskItem {
        border-bottom: 1px solid buttontext !important
    }

        .taskItem.active .taskItem-body {
            box-shadow: none
        }

    .popoverMenu:focus, .popover-main:focus {
        box-shadow: none;
        outline: none
    }

    .ms-ContextualMenu-link:focus .ms-ContextualMenu-submenuIcon, .ms-ContextualMenu-link:focus .ms-ContextualMenu-itemText, .ms-ContextualMenu-link:hover .ms-ContextualMenu-submenuIcon, .ms-ContextualMenu-link:hover .ms-ContextualMenu-itemText, .ms-ContextualMenu-link.is-expanded .ms-ContextualMenu-submenuIcon, .ms-ContextualMenu-link.is-expanded .ms-ContextualMenu-itemText {
        color: highlighttext !important
    }

    .ms-ContextualMenu-link:focus .fontIcon:before, .ms-ContextualMenu-link:hover .fontIcon:before, .ms-ContextualMenu-link.is-expanded .fontIcon:before {
        color: highlighttext !important
    }

    .ms-ContextualMenu-link:focus .svgIcon svg path, .ms-ContextualMenu-link:focus .svgIcon svg circle, .ms-ContextualMenu-link:hover .svgIcon svg path, .ms-ContextualMenu-link:hover .svgIcon svg circle, .ms-ContextualMenu-link.is-expanded .svgIcon svg path, .ms-ContextualMenu-link.is-expanded .svgIcon svg circle {
        fill: highlighttext !important
    }

    .ms-ContextualMenu-link:focus:after, .ms-ContextualMenu-link:hover:after, .ms-ContextualMenu-link.is-expanded:after {
        box-shadow: none !important
    }

    .ms-DatePicker-day--today span {
        color: highlight
    }

    .ms-DatePicker-day--highlighted .ms-DatePicker-day-button {
        -ms-high-contrast-adjust: none;
        background-color: highlight !important;
        color: highlighttext !important
    }

        .ms-DatePicker-day--highlighted .ms-DatePicker-day-button span {
            color: highlighttext !important
        }

    svg {
        fill: windowtext !important
    }

        svg path, svg circle {
            fill: windowtext !important
        }

    .otherApps-inner button {
        border: none !important
    }

   
}
.baseAdd .baseAdd-icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    flex-shrink: 0;
    cursor: pointer
}

.ms-Fabric--isFocusVisible .baseAdd .baseAdd-icon:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.focused.baseAdd .baseAdd-icon .icon {
    color: #767678 !important
}
.ms-Icon--Add:before {
    content: "\E710"
}
.iconSize-24 {
    line-height: 2.4rem;
    font-size: 1.6rem
}
.ms-Icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'wundercon';
    font-style: normal;
    font-weight: normal;
    speak: none
}

.ms-Icon--GlobalNavButton
.svgIcon {
    display: inline-block;
    font-size: 0
}
#main {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    transition: background-color 0.3s;
   
}

    #main .flex-container {
        position: relative;
        flex: 1 1 0px;
        display: flex
    }

    #main .main-background {
        /*overflow: hidden;*/
        position: relative;
        background: white;
        display: flex;
        flex-direction: column;
        flex: 1 1 0px
    }

    #main .flexBoxFix {
        flex-direction: column;
        display: flex;
        flex: 1;
        overflow: hidden
    }

    #main .emptyList {
        height: 100%;
        width: 100%;
        position: relative;
        top: 0px;
        background-color: white
    }

@media all and (max-width: 320px), all and (max-height: 256px) {
    #main .tasks {
        overflow: unset
    }

    #main .main-background {
        overflow: scroll
    }

    #main .sortingIndicator {
        height: auto
    }

        #main .sortingIndicator .sortingIndicator-inner {
            padding: 0 16px 0 27px
        }

    #main .tasksToolbar {
        padding: 0
    }

    #main .tasksToolbar-headline {
        margin-top: 0
    }
}
.tasksToolbar .tasksToolbar-titleContainer {
    align-items: center;
    display: flex
}

    .tasksToolbar .tasksToolbar-titleContainer .tasksToolbar-titleItem {
        min-width: 20px
    }

.componentList.space-aside {
    margin: 0 8px
}

.componentList.border-top {
    border-top: 1px solid #eaeaea
}

.componentList.border-bottom {
    border-bottom: 1px solid #eaeaea
}

.componentList .border-between {
    border-bottom: 1px solid #eaeaea
}

    .componentList .border-between:last-child {
        border-bottom: none
    }

.componentList .taskItem.border-between {
    border: none;
    box-shadow: 0 17px 0 -16px #e5e5e5
}

    .componentList .taskItem.border-between.active {
        box-shadow: inset 0 0 0 1px #ededed
    }

    .componentList .taskItem.border-between:hover {
        box-shadow: inset 0 0 0 1px #f5f5f5
    }


.chunkedComponentList {
    display: flex
}

    .chunkedComponentList.sticky {
        flex: 1
    }

    .chunkedComponentList .chunkedScrollContainer {
        position: relative;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch
    }
.taskItem {
    display: flex;
    flex-direction: column
}

.ms-Fabric--isFocusVisible .taskItem:focus .taskItem-body {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.taskItem:hover .taskItem-body {
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 1px #f5f5f5
}

.taskItem.active .taskItem-body {
    background: #ededed;
    box-shadow: inset 0 0 0 1px #ededed
}

.taskItem.completed .taskItem-title {
    text-decoration: line-through;
    color: #767678
}

.taskItem.selected .taskItem-body {
    background: #f4f6ff;
    box-shadow: inset 0 0 0 1px #f4f6ff
}

.taskItem.selected .taskItem-title, .taskItem.selected .metaDataInfo, .taskItem.selected.completed .taskItem-title, .taskItem.selected.completed .metaDataInfo {
    color: #34373d
}

.taskItem .show-on-hover {
    opacity: 0
}

    .taskItem:hover .show-on-hover, .taskItem .show-on-hover:focus {
        opacity: 1
    }

.lineCursor .taskItem:hover .taskItem-body, .dropCursor .taskItem:hover .taskItem-body {
    background: none;
    box-shadow: 0 17px 0 -16px #e5e5e5
}
.root-41 {
    display: inline;
}

.taskItem-body {
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0 12px;
    box-shadow: 0 17px 0 -16px #e5e5e5;
    flex-wrap: wrap
}

.taskItem-titleWrapper {
    font-size: 1.4rem;
    font-weight: 500;
    color: #34373d;
    cursor: default;
    position: relative;
    flex: 1 1 0px;
    min-height: 52px;
    padding: 8px 12px;
    line-height: 2rem;
    overflow: hidden;
    cursor: pointer
}

html[dir=ltr] .taskItem-titleWrapper {
    text-align: left
}

html[dir=rtl] .taskItem-titleWrapper {
    text-align: right
}

.ms-Fabric--isFocusVisible .taskItem-titleWrapper:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.taskItem-titleWrapper a {
    color: #465efc
}

.ms-Fabric--isFocusVisible .taskItem-titleWrapper a:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.taskItem.completed.selected .taskItemInfo-myDay.inactive .taskItemInfo-label, 
.taskItem.completed.selected .taskItemInfo-date.inactive .taskItemInfo-label {
    color: #34373d
}

.taskItem.completed.selected .taskItemInfo-myDay.inactive .icon,
.taskItem.completed.selected .taskItemInfo-date.inactive .icon {
    color: #34373d
}

    .taskItem.completed.selected .taskItemInfo-myDay.inactive .icon svg, 
    .taskItem.completed.selected .taskItemInfo-date.inactive .icon svg {
        fill: #34373d
    }

.taskItem.selected .taskItemInfo-myDay.overdue .taskItemInfo-label,
.taskItem.selected .taskItemInfo-date.overdue .taskItemInfo-label {
    color: #af2e20
}

.taskItem.selected .taskItemInfo-myDay.overdue .icon, 
.taskItem.selected .taskItemInfo-date.overdue .icon {
    color: #af2e20
}

    .taskItem.selected .taskItemInfo-myDay.overdue .icon svg, 
    .taskItem.selected .taskItemInfo-date.overdue .icon svg {
        fill: #af2e20
    }


   /*Checkbox*/

@-webkit-keyframes checkAnimationTick {
    from {
        opacity: 0;
        transform: scale(1.8)
    }

    to {
        transform: scale(1)
    }
}

@keyframes checkAnimationTick {
    from {
        opacity: 0;
        transform: scale(1.8)
    }

    to {
        transform: scale(1)
    }
}

@-webkit-keyframes checkAnimationBase {
    from {
        opacity: 0;
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

@keyframes checkAnimationBase {
    from {
        opacity: 0;
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

.checkBox {
    padding: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.ms-Fabric--isFocusVisible .checkBox:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

.checkBox.isReadOnly {
    cursor: auto
}
.checkBox .fontIcon {
    color: #3e69e4
}

.checkBox .checkBox-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: opacity 100ms;
    opacity: 0
}

    .checkBox .checkBox-hover.iconSize-28 {
        margin-left: -14px;
        margin-top: -14px
    }

    .checkBox .checkBox-hover.iconSize-18 {
        margin-left: -9px;
        margin-top: -9px
    }

    .checkBox .checkBox-hover.checkbox-completed-outline-20, .checkBox .checkBox-hover.checkbox-completed-outline-16 {
        margin-left: -12px;
        margin-top: -12px
    }

.checkBox:hover .checkBox-hover {
    opacity: 1
}

.checkBox.completed {
    -webkit-animation: checkAnimationBase 100ms;
    animation: checkAnimationBase 100ms
}

/*Icon*/
.icon svg {
    fill: #767678
}

.icon.blue svg {
    fill: #465efc
}

.icon.spinner {
    display: block;
    -webkit-animation: rotate 0.8s linear infinite;
    animation: rotate 0.8s linear infinite;
    height: 14px;
    width: 14px
}

button .close-small {
    display: flex;
    flex: 1;
    justify-content: center
}

.outlook-24 svg * {
    fill: #0089ec !important
}
/*taskitem steps*/
.taskItemInfo-steps, .taskItemInfo-myDay {
    display: flex;
    align-items: center
}

html[dir=ltr] .taskItemInfo-importance {
    margin-right: 5px
}

html[dir=rtl] .taskItemInfo-importance {
    margin-left: 5px
}

html[dir=ltr] .taskItemInfo-date .taskItemInfo-label {
    margin-right: 2px
}

html[dir=rtl] .taskItemInfo-date .taskItemInfo-label {
    margin-left: 2px
}

html[dir=ltr] .taskItemInfo-reminder .icon, html[dir=ltr] .taskItemInfo-note .icon, html[dir=ltr] .taskItemInfo-steps .icon {
    margin-right: 5px
}

html[dir=rtl] .taskItemInfo-reminder .icon, html[dir=rtl] .taskItemInfo-note .icon, html[dir=rtl] .taskItemInfo-steps .icon {
    margin-left: 5px
}

.taskItemInfo-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

html[dir=ltr] .taskItemInfo-title span:first-child > .emoji:first-child {
    margin-right: 2px
}

html[dir=rtl] .taskItemInfo-title span:first-child > .emoji:first-child {
    margin-left: 2px
}

.taskItemInfo-label {
    white-space: nowrap
}

.taskItemInfo-attachments {
    display: flex
}

.taskItemInfo-myDay, .taskItemInfo-date {
    flex-shrink: 0
}

    .taskItemInfo-myDay .taskItemInfo-label, .taskItemInfo-date .taskItemInfo-label {
        color: #767678
    }

    .taskItemInfo-myDay .icon, .taskItemInfo-date .icon {
        color: #767678
    }

        .taskItemInfo-myDay .icon svg, .taskItemInfo-date .icon svg {
            fill: #767678
        }

    .taskItemInfo-myDay.overdue .taskItemInfo-label, .taskItemInfo-date.overdue .taskItemInfo-label {
        color: #db3a29
    }

    .taskItemInfo-myDay.overdue .icon, .taskItemInfo-date.overdue .icon {
        color: #db3a29
    }

        .taskItemInfo-myDay.overdue .icon svg, .taskItemInfo-date.overdue .icon svg {
            fill: #db3a29
        }

    .taskItemInfo-myDay.inactive .taskItemInfo-label, .taskItemInfo-date.inactive .taskItemInfo-label {
        color: #767678
    }

    .taskItemInfo-myDay.inactive .icon, .taskItemInfo-date.inactive .icon {
        color: #767678
    }

        .taskItemInfo-myDay.inactive .icon svg, .taskItemInfo-date.inactive .icon svg {
            fill: #767678
        }

    .taskItemInfo-myDay.dueToday .taskItemInfo-label, .taskItemInfo-date.dueToday .taskItemInfo-label {
        color: #465efc
    }

    .taskItemInfo-myDay.dueToday .icon, .taskItemInfo-date.dueToday .icon {
        color: #465efc
    }

        .taskItemInfo-myDay.dueToday .icon svg, .taskItemInfo-date.dueToday .icon svg {
            fill: #465efc
        }

html[dir=ltr] .taskItemInfo-myDay .icon.repeat, html[dir=ltr] .taskItemInfo-date .icon.repeat {
    margin-left: 5px
}

html[dir=rtl] .taskItemInfo-myDay .icon.repeat, html[dir=rtl] .taskItemInfo-date .icon.repeat {
    margin-right: 5px
}

.taskItem.completed.selected .taskItemInfo-myDay.inactive .taskItemInfo-label, .taskItem.completed.selected .taskItemInfo-date.inactive .taskItemInfo-label {
    color: #34373d
}

.taskItem.completed.selected .taskItemInfo-myDay.inactive .icon, .taskItem.completed.selected .taskItemInfo-date.inactive .icon {
    color: #34373d
}

    .taskItem.completed.selected .taskItemInfo-myDay.inactive .icon svg, .taskItem.completed.selected .taskItemInfo-date.inactive .icon svg {
        fill: #34373d
    }

.taskItem.selected .taskItemInfo-myDay.overdue .taskItemInfo-label, .taskItem.selected .taskItemInfo-date.overdue .taskItemInfo-label {
    color: #af2e20
}

.taskItem.selected .taskItemInfo-myDay.overdue .icon, .taskItem.selected .taskItemInfo-date.overdue .icon {
    color: #af2e20
}

    .taskItem.selected .taskItemInfo-myDay.overdue .icon svg, .taskItem.selected .taskItemInfo-date.overdue .icon svg {
        fill: #af2e20
    }
/* */
html[dir=ltr] .taskItemInfo-reminder .icon, 
html[dir=ltr] .taskItemInfo-note .icon, 
html[dir=ltr] .taskItemInfo-steps .icon {
    margin-right: 5px;
}



/*importance button*/
.ms-Icon--FavoriteStarFill:before {
    content: "\E735"
}

.importanceButton {
    padding: 0px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    color: #767678;
    text-align: center;
    display: flex
}

.ms-Fabric--isFocusVisible .importanceButton:focus {
    border-radius: 2px !important;
    box-shadow: inset 0 0 0 2px #465efc !important
}

html[dir=ltr] .importanceButton {
    margin-left: 4px
}

html[dir=rtl] .importanceButton {
    margin-right: 4px
}

.importanceButton.isReadOnly {
    cursor: auto
}

.importanceButton .fontIcon {
    vertical-align: middle
}

.importanceButton.color-theme {
    -webkit-animation: fillAnimation 100ms;
    animation: fillAnimation 100ms
}
    .importanceButton.color-theme .fontIcon {
        color: #3e69e4
    }

/*.theme-blue .importanceButton.color-theme .fontIcon {
    color: #3e69e4
}

.theme-red .importanceButton.color-theme .fontIcon {
    color: #d2534e
}

.theme-purple .importanceButton.color-theme .fontIcon {
    color: #7a45bf
}

.theme-green .importanceButton.color-theme .fontIcon {
    color: #5ca52d
}

.theme-skyblue .importanceButton.color-theme .fontIcon {
    color: #228be8
}

.importanceButton :hover {
    color: #000
}*/

@-webkit-keyframes fillAnimation {
    from {
        opacity: 0;
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}

@keyframes fillAnimation {
    from {
        opacity: 0;
        transform: scale(0.4)
    }

    to {
        transform: scale(1)
    }
}
/****/
.tasksToolbar .tasksToolbar-subline {
    font-size: 1.4rem;
    padding: 0 8px;
    font-weight: 200
}
.tasksToolbar.with-subline {
    height: 100px;
}

    .tasksToolbar.with-subline .tasksToolbar-headline {
        margin-top: 16px
    }

@media all and (max-width: 320px) {
    .tasksToolbar.with-subline {
        height: auto
    }

    .tasksToolbar .tasksToolbar-top {
        height: auto
    }

    html[dir=ltr] .tasksToolbar .tasksToolbar-headline {
        margin-right: 0px
    }

    html[dir=rtl]
    .tasksToolbar .tasksToolbar-headline {
        margin-left: 0px
    }

    .tasksToolbar .tasksToolbar-headline .tasksToolbar-titleItem .listTitle {
        white-space: normal
    }
}
/**/
#centerColumn {
    flex: 1 1 0px;
    display: flex;
    overflow: hidden;
}
/***/
.backgroundLines {
    margin: 0 24px;
    flex: 1;
    background: linear-gradient(180deg, white, white 52px, #e5e5e5 52px, #e5e5e5 52px);
    background-size: 100% 53px;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
}
.iconSize-24:before {
    width: 24px;
}
.fontIcon:before {
    display: inline-block;
}

.ms-Icon--Add::before {
    content: "\E710"
}
/*Slidebar right*/
.sidepanel {
    height:100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    overflow: auto; 
    padding-top: 80px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border: 1px solid black;

}

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        /*display: block;*/
        transition: 0.3s;
      
    }

        /* When you mouse over the navigation links, change their color */
        .sidepanel a:hover {
            color: #000;
        }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    width:100%;
}

    /*.openbtn:hover {
        background-color: #444;
    }*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidepanel {
        padding-top: 15px;
    }

        .sidepanel a {
            font-size: 18px;
        }
}




/* Remind me*/


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }