﻿@model CustomToDo.Web.Models.TaskPageModel
@using CustomToDo.Web.HelperClass
    <div class="sidebar">
        <button type="button" id="sidebarToggle" class="btn btn-info navbar-btn">
            @* <i class="glyphicon glyphicon-align-center"></i>*@
            <img src="~/Images/logo.png" class="logo" />
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href='@Url.Action("MyDay","Contributor",new { area = "Contributor" })'>
                    <i class="glyphicon glyphicon-tasks"></i>
                    <span>My Day - </span>
                    <span>
                        @Model.TotalTasks.Count(m => m.DueDate == DateTime.Today)
                    </span>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Important","Contributor",new { area = "Contributor" })'>
                    <i class="glyphicon glyphicon-star"></i>
                    <span>IMPORTANT - </span>
                    <span>
                        @Model.TotalTasks.Count(m => m.Priority == (int)CustomToDoUtility.Priorities.Important)
                    </span>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Planned","Contributor",new { area = "Contributor" })'>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span>PLANNED - </span>
                    <span>
                        @Model.TotalTasks.Count(m => m.DueDate > DateTime.Today && m.Status != (int)CustomToDoUtility.Statuses.close)
                    </span>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Assigned","Contributor",new { area = "Contributor" })'>
                    <i class="glyphicon glyphicon-link"></i>
                    <span>ASSIGNED TO YOU - </span>
                    <span>
                        @Model.TotalTasks.Count(m => m.AssignedTo.HasValue && m.AssignedTo.Value == CustomToDoUtility.CurrentLoginUser.Id)
                    </span>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Task","Contributor",new { area = "Contributor" })'>
                    <i class="glyphicon glyphicon-home"></i>
                    <span>TASK - </span>
                    <span>
                        @Model.TotalTasks.Count()
                    </span>
                </a>
            </li>
        </ul>
    </div>