﻿@model IEnumerable<CustomToDo.Web.Models.EmpViewModel>

@{
    ViewBag.Title = "Emp List";
}

<h2>EmpList</h2>


<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Id)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
