﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>

</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-70 p-b-20 ">
                @*@using(Html.BeginForm(FormMethod.Post))
                {*@
                    <div class="login100-div validate-form">
                        <span class="login100-form-title p-b-40">
                            Login
                        </span>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter email: ex@abc.xyz">
                            <input class="input100" type="text" id="username" placeholder="Username">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">
                            <input class="input100" type="password" id="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="login">
                                Login
                            </button>
                        </div>
                        <label id="lblmsg" style="color:red"></label>
                    </div>
                @* } *@
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#login').click(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var data = { username: username, password: password };

            $.ajax({
                url: "/Login/LoginCheck",
                type: "POST",
                data: data,
                datatype: "json",
                success: function (result) {
                    if (result == "Admin") {
                        window.location.href = '@Url.Action("DisplayUser","Admin",new { area = "Admin" })';
                    }
                    else if (result == "Manager") {
                        window.location.href = '@Url.Action("Index","Manager",new { area = "Manager" })';
                    }
                    else if (result == "Contributor") {
                        window.location.href = '@Url.Action("Task","Contributor",new { area = "Contributor" })';
                    }

                    else {
                        alert("Invalid Login");
                    }
                }
            });
        });
    </script>


</body>



